

<div class="container">
    <form >
        <div>
        <h2 style="text-align: center"class="text-white">Login</h2>
        <div>
            <label class="text-white"> Enter User Name </label>
            <input type="text" placeholder="Enter User Name" class="form-control mt-2">
        </div> 

        <div class="mt-2">
            <label class="text-white"> password </label>
            <input type="text" placeholder="Enter password" class="form-control mt-2">
        </div>
        
            <div class="d-flex justify-content-between">
                <button class=" btn btn-primary mt-2 ">submit</button>
                <button routerLink="/login"class=" btn btn-primary mt-2 ">Register</button>
            </div>
        </div>
    </form>

</div>
